h1 
{
  font-family: sans-serif;
  text-align: center;
  padding: 25px;
  background-color: rgb(236, 130, 130);
  color: rgb(226, 37, 37);
  top: 0px;
}
h2
{
  font-family: sans-serif;
  text-align: center;
  padding: 50px;
  background-color: rgb(236, 130, 130);
  color: rgb(226, 37, 37);
  top: 150px;
}
div {
 width: 1100px;
 height: 600px;
 color: rgb(92, 84, 88);
 line-height: 100px;
 margin: 100px;
 } 
.pirmais {
 background-color: #CC6656; 
 position: absolute;
 
}
