h1 
{
  font-family: sans-serif;
  text-align: center;
  padding: 40px;
  background-color: rgb(236, 130, 130);
  color: rgb(226, 37, 37);
}
h2
{
  font-family: sans-serif;
  text-align: center;
  padding: 35px;
  background-color: rgb(236, 130, 130);
  color: rgb(226, 37, 37);
}


 .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  background-color: rgb(236, 130, 130);
  padding: 150px;
  gap: 10px;  
}
.container div {
  background-color: #f1f1f1;
  color:#000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  height: 158px;
  width: 250px;
}
img {
  height: 158px;
  width: 250px;
}
 button {
  text-align: cente;
  height: 60px;
  width: 90px;
  color:rgb(236, 130, 130) ;
 }
 

body {
  background-color: #441d3b;
}